@charset "EUC-KR";

.cke_show_borders {
   overflow-y: scroll;
   overflow-x: hidden;
}

img {
   width: 280px;
}

hr {
   border: 0;
   height: 3px;
}

#head_div {
   text-align: center;
   height: 18%;
}

.header {
   column-span: all;
   font-size: 50px;
   text-align: center;
   font-family: '궁서', '신명조', '굴림', 'Comic Sans MS';
   
}

.header.test_paper_page_num {
   position: absolute;
   right: 20px;
   top: -20px;
}

.header#test_paper_name {
   font-size: 25px;
}

.header#test_paper_time {
   font-size: 25px;
   position: absolute;
   left: 20px;
   border: solid black 3px;
   border-radius: 50px;
   padding: 5px;
}

.header#student_input_div {
   display: inline-block;
   margin: auto;
}

.header.student_info {
   font-size: 25px;
   float: left;
   margin: 0px;
   padding: 0px;
   border: solid black 1px;
}

.content_first {
   column-gap: 35px;
   column-width: 20px;
   column-rule: 3px solid #000;
   column-count: 2;

   width: 97%;
   height: 75%;
   
}

.content{
   column-gap: 35px;
   column-width: 20px;
   column-rule: 3px solid #000;
   column-count: 2;

   width: 97%;
   height: 90%;
}

.page_div{
   display:block;
   height:305mm;
   width:210mm;
}

.column {
    float: left;
    width: 100%;
    height:99%;   
}


.sub_header{
   column-span: all;
   font-size: 16px;
   text-align: center;
   font-family: '궁서', '신명조', '굴림', 'Comic Sans MS';
   height: 2%;
   position: relative;
}

.sub_header.sub_title{}
.sub_header.sub_page_num{
   position: absolute;
   right: 20px;
   
}



/* Clear floats after the columns */